@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap");
.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  padding-top: 2px;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.write {
  border-right: 4px solid white;
}

.none {
  border: none;
}

@-webkit-keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slidebar {
  from {
    opacity: 0;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slidebar {
  from {
    opacity: 0;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideinfo {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 1700px;
  }
}

@keyframes slideinfo {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 1700px;
  }
}

.nav__hide {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0 !important;
  width: 0px !important;
}

.close span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  width: 50px !important;
}

.close span:nth-child(2) {
  opacity: 0;
}

.close span:nth-child(1) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.close span:nth-child(3) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.reslide {
  background: white;
  z-index: 900000000000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.reslide__hide {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 0px;
  height: 0px;
}

.bar__menu {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  right: 3%;
  top: 2%;
  width: 50px;
  height: 50px;
  z-index: 600000000000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bar__menu span {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 9px;
  display: block;
  min-height: 4px;
  max-height: 4px;
  background: black;
}

.bar__menu span:nth-child(1) {
  width: 50px;
}

.bar__menu span:nth-child(2) {
  width: 36px;
}

.bar__menu span:nth-child(3) {
  width: 26px;
}

.bar__menu:hover {
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

.bar__menu:hover span {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bar__menu:hover span:nth-child(1) {
  width: 50px;
}

.bar__menu:hover span:nth-child(2) {
  width: 50px;
}

.bar__menu:hover span:nth-child(3) {
  width: 50px;
}

.menu {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1000000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__bar ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__bar ol li a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 75px;
  color: #000000;
}

.menu__bar ol li button {
  width: 65px;
  height: 40px;
  background: #f2c71a00;
  font-size: 40px;
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu__bar ol li button:hover {
  color: #F2C71A;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*# sourceMappingURL=build.css.map */