.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #F1F1F1;
}

.info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    p {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 161.9%;
        /* or 26px */


        color: #000000;
    }
    &__text {
        background: #FFFFFF;
        width: 800px;
        margin: 30px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            float: right;
            width: 200px;
            height: 80px;
            background: #F2C71A;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 161.9%;
            transition: 0.4s;
            text-align: center;
            color: black;
        }
        a:visited {
            list-style: none;
        }
        a:hover {
            transition: 0.4s;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__row {
        padding: 30px;
    }
}